<turbo-frame id="container" data-turbo-action="advance">
    <div class="main-container" data-controller="code-editor">
        <div class="prompt-instruction" style="text-align: center; padding: 0 20%;">
            Enter your prompt into the editor below
        </div>
        <p style="text-align: center; padding: 0 20%;">
            Then, you can either score your prompt - providing you with a security rating for how well you are implementing
            prompt defences, or else automatically add prompt defences to your prompt
        </p>

        <form id="promptForm" method="post" data-code-editor-target="form" data-turbo-frame="container" action="/score">
            <div class="actions-container">
                <button class="btn-primary" type="submit" id="score" data-code-editor-target="score"
                    data-action="click->code-editor#setFormAction" data-action-value="/score">
                    <i class="fa-solid fa-check"></i>  Score your prompt
                </button>

                <button class="btn-primary" type="submit" id="improve" data-code-editor-target="improve"
                    data-action="click->code-editor#setFormAction" data-action-value="/improve">
                    <i class="fa-solid fa-lightbulb"></i>  Suggest improvements
                </button>
            </div>
            <div class="file-upload-container" style="text-align: center; padding: 0 20%;">
                <label for="file-upload" class="file-upload-label">Upload a file</label>
                <input type="file" id="file-upload" class="file-upload-input" data-code-editor-target="fileUpload" />
            </div>
            <div id="editor-container" class="editor-container" style="display: none;">
                <label for="code-editor"></label>
                <textarea id="code-editor" data-code-editor-target="editor" name="prompt"></textarea>
            </div>

            <input type="hidden" name="prompt" data-code-editor-target="prompt" />
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            runTour();
        });
    </script>
</turbo-frame>