<turbo-frame id="container" data-turbo-action="advance">
    <div class="score-container">
        <div class="cards-container"></div>
        <div id="prompt_start" style="text-align: center;">
            <h1>Welcome to Prompt Defender</h1>

            <p>The easiest way to keep your prompts safe from attacks. Using Prompt Defender,
                you can check the security of your existing prompts using our Score function, and you can automatically
                generate a more
                secure prompt using our Improve function.</p>

            <p>To get started, please select one of the following options for how to give us
                your prompt:</p>

            <div class="phrases-list">

                <a href="/input">
                    <div class="action-card">
                        <p class="score-card-title"><i class="fa-regular fa-keyboard fa-xl"></i> Input your prompt
                        </p>
                        <p class="score-card-subtitle">Copy and paste your existing prompt - or create a new one -
                            in
                            the
                            text
                            editor</p>
                    </div>
                </a>
                <a href="/input?type=example">
                    <div class="action-card">
                        <p class="score-card-title"><i class="fa-solid fa-vial fa-xl"></i> Use an example</p>
                        <p class="score-card-subtitle">Test out Prompt Defender with an example prompt</p>
                    </div>
                </a>
                <a href="/upload">
                    <div class="action-card">
                        <p class="score-card-title"><i class="fa-solid fa-upload fa-xl"></i> Upload a file</p>
                        <p class="score-card-subtitle">Upload a file containing your prompt</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>
</turbo-frame>