/* Import Google Font Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* General Typography */
body,
h4, h5, h6,
p,
a,
button,
.navbar-brand,
.nav-link {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 700; /* Bold for headings */
    color: white; /* Pure Black */
    text-transform: uppercase;
}

i {
    color: white; /* Dark Grey */
}

.background-gradient {
    background: linear-gradient(to bottom, #333333, #4d4d4d, #666666); /* Monochromatic gradient */
}

main, body {
    background-color: #333333;
}


.btn-primary {
    background-color: #292929;
    border: 1px solid #bdbdbd;
    color: #bdbdbd;
    padding: 0.5em 1em;
    border-radius: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #bdbdbd;
    border-color: #757575;
    color: #212121;
}


section {
    padding: 20px 0;
    align-content: center;
}

.highlight {
    font-weight: 700; /* Bold */
    color: #000000; /* Pure Black */
}

.lead-text {
    font-size: 3rem;
    font-weight: 700; /* Bold */
    color: #000000; /* Pure Black */
}

.cards-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.main-container {
    display: flex;
    height: 100vh;
    padding: 20px;
    direction: row;
}

@media (min-width: 1024px) {
    .cards-container {
        max-width: 66.67%; /* 2/3rd of the screen */
    }
}