form#promptForm {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.main-container {
    flex-direction: column;
    height: auto;
}

.editor-container {
    padding-right: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    height: 100vh;
}

.actions-container {
    flex-direction: row;
    align-items: flex-start;
    gap: 1em;
}
.actions-container > * {
    width: auto;
    flex: 1;
    margin-right: 10px; /* Adjust spacing between buttons */
    gap: 1em;
}
.actions-container > *:last-child {
    margin-right: 0; /* Remove margin from the last button */
}


.prompt-instruction {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 10px;
}

#code-editor {
    width: 100%;
    height: 100vw;
    box-sizing: border-box;
}
